<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2011/03/07 07:59:12 cchun Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://com.shrcn.sct.gef.core" 
       class = "com.shrcn.sct.gef.core.CorePackage"
       genModel = "model/AbstractModel.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="core" 
       class="com.shrcn.sct.gef.core.util.CoreResourceFactoryImpl" />
  </extension>

</plugin>

