<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	
	<extension
         point="org.eclipse.ui.views">
		<category
			name = "EASY50"
			id = "com.shrcn.sct.Easy50">
		</category>
		<view 
            category="com.shrcn.sct.Easy50"
            class="com.shrcn.sct.iec61850.navg.NavigationViewPart"
            id="com.shrcn.sct.iec61850.navg.NavigationViewPart"
            icon="icons/filenav.gif"
            name="%sub.edv.nvg">
      </view>
   	  <view
         	category="com.shrcn.sct.Easy50"
          	class="com.shrcn.sct.iec61850.view.PropertyView"
         	icon="icons/property.gif"
         	id="com.shrcn.sct.iec61850.view.PropertyView"
         	name="%pty.view">
   	  </view>
      <view
            class="com.shrcn.sct.iec61850.view.ProblemView"
            icon="icons/property.gif"
            id="com.shrcn.sct.iec61850.view.ProblemView"
            name="问题">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%tm.compare.editor"
            icon="icons/column.gif"
            class="com.shrcn.sct.iec61850.editor.ICDCompareEditor"
            id="com.shrcn.sct.iec61850.editor.ICDCompareEditor">
      </editor>
       <editor
            class="com.shrcn.sct.iec61850.editor.usercfg.UserCfgEditor"
            icon="icons/device.png"
            id="com.shrcn.sct.iec61850.editor.usercfg.UserCfgEditor"
            name="%usercfg.editor">
      </editor>
	</extension>
	
</plugin>
